body{
    margin:0;
    padding:0;
}
*{
    font-family: 'Carter One', cursive ;
}
.img-layer{
    width: 60%;
    height:110%;
    position: absolute;
    top:0%;left:0%;
    background-image:url('Stock/Png_Panel-Image.png');
    background-size:cover;
    z-index:0;
}
.img-layer .home-content {
    margin-top: 30%;
    width: 60%;
    margin-left: 20%;
}
.site-header{
    position:relative;
}
.navbar{
    position:absolute;
    top:0%;
    z-index:2;
}
.nav-link{
    color:black !important;
}